[submodule "ooevvDao"]
	path = ooevvDao
	url = https://github.com/BMKEG/ooevvDao
[submodule "kefedDao"]
	path = kefedDao
	url = https://github.com/BMKEG/kefedDao
[submodule "kefedServer"]
	path = kefedServer
	url = https://github.com/BMKEG/kefedServer
[submodule "kefedClientComponents"]
	path = kefedClientComponents
	url = https://github.com/BMKEG/kefedClientComponents
[submodule "kefedClientApp"]
	path = kefedClientApp
	url = https://github.com/BMKEG/kefedClientApp
[submodule "bmkeg-parent"]
	path = bmkeg-parent
	url = https://github.com/BMKEG/bmkeg-parent
[submodule "vpdmf-ooevv"]
	path = vpdmf-ooevv
	url = https://github.com/BMKEG/vpdmf-ooevv.git
[submodule "vpdmf-kefed"]
	path = vpdmf-kefed
	url = https://github.com/BMKEG/vpdmf-kefed.git
[submodule "vpdmf-cosi"]
	path = vpdmf-cosi
	url = https://github.com/BMKEG/vpdmf-cosi.git
[submodule "vpdmf-people"]
	path = vpdmf-people
	url = https://github.com/BMKEG/vpdmf-people.git
[submodule "vpdmf-terminology"]
	path = vpdmf-terminology
	url = https://github.com/BMKEG/vpdmf-terminology.git
